<mat-toolbar color="primary">
  <h1>Board Game Helper</h1>
</mat-toolbar>

<mat-toolbar>
  <h2>Board</h2>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Freehand">
    <div class="board">
      <app-freehand></app-freehand>
    </div>
  </mat-tab>
  <mat-tab label="Grid">
    <div class="board">
      <app-grid></app-grid>
    </div>
  </mat-tab>
  <mat-tab label="Tables">
    <div class="board">
      <app-table></app-table>
    </div>
  </mat-tab>
</mat-tab-group>

<mat-toolbar>
  <h2>Components</h2>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Dice">
    <div class="component">
      <app-dice></app-dice>
    </div>
  </mat-tab>
  <mat-tab label="Counters">
    <div class="component">
      <app-counter></app-counter>
    </div>
  </mat-tab>
  <mat-tab label="Timers">
    <div class="component">
      <app-timer></app-timer>
    </div>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>