/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-toolbar-single-row {
    height:auto !important;
}

.board {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EEEEFF;
}

.component { 
    background-color: #EEFFEE;

}

.gridUnit {
    background: white;
    border: solid black;
}
